@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;700;900&display=swap');


body {
    display: flex;
    flex-direction: column;
    margin:0px;

}
body *{
    box-sizing: border-box;
    font-family: 'Outfit';
    color: #FBFBFB;

}
header{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D2424;
    height: 160px;
    width: 100%;
}
h1{
text-align: center;
margin: 0px;
font-style: normal;
font-weight: 900;
font-size: 48px;
letter-spacing: 0.2em;
color: #FBFBFB;

}

main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #1D1313;
    justify-content: center;

}


/*side bar*/

#sidebar {
    position: absolute;
    width: 300px;
    height: 100%;
    background: #312A2C;
    left: -300px;
    transition: .4s;
}

  #sidebar ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 26px 24px;
}

  #sidebar .toggle-btn {
    position: absolute;
    top: 30px;
    left: 330px;
}

  .toggle-btn span {
    width: 45px;
    height: 4px;
    background: #786d6d;
    display: block;
    margin-top: 4px;
  }

  #sidebar.active {
    left: 0;
}
main section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
main section img{
    width: 413px;
    height: 310px;
    border-radius: 17px;
}
main p{
    letter-spacing: 0.1em;
    font-size: 25px;
    width: 700px;
    text-align: center;
}
a{
    text-decoration: none;
}
li a{
    filter: brightness(0.6);
}
li a:hover{
    filter: brightness(1);
    cursor:pointer;
    transition: 0.1s;

}
footer{

    display: flex;
    width: 100%;
    height: 180px;
    background-color: #2D2424;
    align-items: center;
    justify-content: center;
}
footer h2{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    opacity: 0.6;
}
.toggle-btn:hover{
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
textarea, input{
    color: black;
}
textarea{
    width: 500px;
    height: 300px;
}